extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Jan Xavier Virgen
        p.lead.text-light
          | Currenly working as a Compliance Assistant.
        .portfolio-bio
          p This Portfolio website is created to show potential employers what I've accomplished so far with HTML, CSS, JavaScript, Node & ExpressJS. My goal for my portfolio is to showcase my skills, talent in coding, and my very own web applications.
          p I've also created this portfolio site to let employers know that i'm seeking an opportunity where my knowledge in web development will be applied and used to assist as well as communicate with my fellow tech team.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Express
          li Node
          li HTML
          li CSS
          li SASS (CSS extionsion/ pre-processor)
          li PugJS (Template Engine)
          li Git (Version Control)
          li npm (Package Manager)
          li REGEX (Regular Expression)
          li Local Storage (Cookie-Parser)
        h6 Contact Info

        ul
          li 0424 684 256
          li janxavierv17@hotmail.com

        a.button.expanded(href='https://www.linkedin.com/in/janv/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/janxavierv17' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  